.eos-hidden{
  display:none !important
}
.eos-dp-theme-sel .dashicons {
  top: 6px;
  right: 7px;
  position: absolute
}
.eos-test-in-progress #eos-dp-plugins-wrp {
	cursor: progress !important
}
.eos-test-in-progress .eos-dp-plugins-wrp,.eos-test-in-progress .eos-dp-section:after {
	background-image: url("../img/ajax-loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
	margin-top: -75px;
	display: block;
	content: '';
	cursor: progress
}
.eos-test-in-progress td {
	opacity: 0.6
}
.eos-dp-progress,.eos-dp-testing-col,tr.eos-test-in-progress .fdp-checking-this {
	background-image: url("../img/ajax-loader.gif") !important;
	background-repeat: no-repeat !important;
	background-size: 32px 32px !important;
	background-position: center center !important;
	pointer-events: none;
	cursor: progress
}

tr.eos-test-in-progress td.eos-dp-autochecked {
	background-image: none !important
}

tr.eos-test-in-progress td:after, .eos-dp-testing-col:after {
	content: " ";
	position: absolute;
	width: 4px;
	height: 20px;
	margin-right: -2px;
	margin-top: -10px;
	top: 50%;
	right: 50%;
	background-color: rgba(37,48,66,0.7);
	border-radius: 50%;
	animation: spin 2s linear infinite
}

tr.eos-test-in-progress td.eos-dp-autochecked:after {
	animation: none;
	transform: rotate(-45deg)
}

.eos-not-visible {
	visibility: hidden
}
.fixed #eos-dp-table-head .eos-dp-plugin-hover a {
	padding: 5px;
	background: #fff
}
.eos-dp-plugin-hover {
	z-index: 999999
}

.eos-no-events {
	pointer-events: none;
	cursor: default;
	opacity: 0.6
}

#eos-dp-plugins-wrp.eos-post-locked {
	pointer-events: auto;
	cursor: initial;
	opacity: 1
}

.eos-dp-plugin-not-active:not(.eos-dp-plugin-hover) {
	opacity: 0.4
}

.eos-dp-name-th > div {
	display: inline-block;
	border-top-right-radius: 15px
}

.left {
	text-align: right
}

.right {
	text-align: left
}

.eos-dp-x-space {
	display: inline-block;
	width: 30px
}
.eos-dp-btn-wrp {
	position: fixed;
	bottom: 0;
	min-height: 50px;
	left: 0;
	z-index: 99999999
}
.hover,.hover:hover {
	cursor: pointer
}
.eos-dp-title,.eos-dp-title a {
	color: inherit;
	text-decoration: none
}
.eos-dp-legend-txt {
	margin: 0 8px;
	display: inline-block
}
.eos-dp-active {
	background-color: #d3c4b8;
	position: relative
}
.eos-dp-active {
	background-image: url("..img/wordpress-deactivate-plugins.png");
	background-size: 15px;
	background-position: center center;
	background-repeat: no-repeat
}
.eos-dp-td-chk-wrp {
	opacity: 0
}
.eos-dp-not-active-wrp {
	background-color: #F1F1F1;
	border: 1px solid #d3c4b8
}
.eos-dp-active-wrp {
	margin-left: 0;
	margin-right: 0;
	background-image: url("../img/wordpress-deactivate-plugins.png");
	background-repeat: no-repeat;
	background-color: #d3c4b8;
	background-position: center center;
	background-size: 77%;
	border: 1px solid transparent
}
.eos-dp-active-wrp input,.eos-dp-not-active-wrp input {
	opacity: 0
}
.eos-dp-active-wrp,.eos-dp-admin-main-menu-link h4,.eos-dp-not-active-wrp {
	display: inline-block
}
.eos-dp-actions .eos-dp-themes-list {
	border-style: none;
	padding: 0 30px 0 8px
}
.eos-dp-preview .dashicons span,.eos-dp-preview img {
	position: absolute;
	top: -5px;
	left: 2px;
	color: #fff
}
.eos-dp-preview .eos-dp-no-js {
	text-decoration: line-through
}



.eos-dp-autochecked {
	border-color: #726259 !important
}

.eos-dp-lock-post {
	opacity: 0
}
.eos-post-locked .fdp-metabox-opts-pt,
.fdp-metabox-opts-s{
  opacity:0.7
}
.eos-post-locked .fdp-metabox-opts-s{
  opacity:1
}
.eos-dp-lock-post-wrp:after{
  -o--mask-position-y: -14px;
  -ms-mask-position-y: -14px;
  -moz-mask-position-y: -14px;
  -webkit-mask-position-y: -14px;
  -mask-position-y: -14px
}
.eos-post-locked .eos-dp-lock-post-wrp:after{
  -o--mask-position-y: 3px;
  -ms-mask-position-y: 3px;
  -moz-mask-position-y: 3px;
  -webkit-mask-position-y: 3px;
  -mask-position-y: 3px
}
.eos-dp-lock-post-wrp:after,.eos-post-locked-icon:after,.eos-post-unlocked-icon:after {
	content: " ";
	background-color: #253042;
	-o-mask-box-image-width: 29px;
	-o-mask-size: 30px 30px;
	-o-mask-repeat: no-repeat;
	-o-mask-box-image-repeat: no-repeat;
	-o-mask-image: url("../img/switch.svg");
	-ms-mask-box-image-width: 29px;
	-ms-mask-size: 30px 30px;
	-ms-mask-repeat: no-repeat;
	-ms-mask-box-image-repeat: no-repeat;
	-ms-mask-image: url("../img/switch.svg");
	-moz-mask-box-image-width: 29px;
	-moz-mask-size: 30px 30px;
	-moz-mask-repeat: no-repeat;
	-moz-mask-box-image-repeat: no-repeat;
	-moz-mask-image: url("../img/switch.svg");
	-webkit-mask-box-image-width: 29px;
	-webkit-mask-size: 30px 30px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-box-image-repeat: no-repeat;
	-webkit-mask-image: url("../img/switch.svg");
	-mask-box-image-width: 29px;
	-mask-size: 30px 30px;
	-mask-repeat: no-repeat;
	-mask-box-image-repeat: no-repeat;
	-mask-image: url("../img/switch.svg");
	width: 30px;
	height: 18px;
	position: absolute;
	right: 10px;
	z-index: -1
}
#eos-dp-setts .eos-dp-lock-post {
	width: 35px
}
.postbox .eos-dp-lock-post-wrp:after,.postbox .eos-post-locked .eos-dp-lock-post-wrp:after {
	font-size: 38px;
	right: auto;
	top: 4px;
	z-index: 1;
	left: 10px
}
.postbox .eos-post-locked .fdp-single-inactive-msg,.postbox .fdp-single-active-msg {
	display: none
}
.postbox .eos-post-locked span.fdp-single-active-msg {
	display: inline-block
}
.postbox .eos-post-locked p.fdp-single-active-msg {
	display: block
}
.postbox .fdp-single-msg {
	top: -5px;
	position: relative;
	font-size: 20px;
	margin-left: 10px
}
.postbox .eos-dp-actions:before {
	content: none
}
.eos-test-in-progress #eos-dp-plugins-wrp {
	cursor: progress !important
}
.eos-test-in-progress .eos-dp-plugins-wrp,.eos-test-in-progress .eos-dp-section:after {
	background-image: url("../img/ajax-loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
	margin-top: -75px;
	display: block;
	content: '';
	cursor: progress
}
.eos-test-in-progress td {
	opacity: 0.6
}
.eos-dp-progress:not(#eos-dp-setts),.eos-dp-testing-col,tr.eos-test-in-progress .fdp-checking-this {
	background-image: url("../img/ajax-loader.gif") !important;
	background-repeat: no-repeat !important;
	background-size: 32px 32px !important;
	background-position: center center !important;
	pointer-events: none;
	cursor: progress
}
tr.eos-test-in-progress td.eos-dp-autochecked {
	background-image: none !important
}
tr.eos-test-in-progress td.eos-dp-autochecked:after {
	animation: none;
	transform: rotate(-45deg)
}

.eos-not-visible {
	visibility: hidden
}


.eos-dp-actions a,.eos-dp-actions a:active,.eos-dp-actions a:focus,.eos-dp-actions a:visited,.eos-dp-themes-list:active,.eos-dp-themes-list:focus {
	display: inline-block;
	border-style: none !important;
	outline: none !important;
	box-shadow: none !important
}


.eos-dp-actions a {
	text-decoration: none;
	position: relative;
	margin-left:12px
}

.eos-dp-hover {
	z-index: 999
}



@media screen and (max-width: 1350px) {
	.eos-dp-actions .dashicons{
		padding: 6px 4px
	}
}

.postbox .eos-dp-preview .dashicons,.postbox .eos-dp-preview .dashicons span {
	color: #253042
}

.postbox .eos-dp-theme-sel:after {
	top: -2px;
	font-size: 25px;
	color: #253042
}
